/* Visualization.css */
.visualization-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* Adjusts columns dynamically */
    gap: 16px; /* Sets gap between grid items */
    padding: 20px; /* Adds padding around the grid container */
}

/* Additional responsiveness and styling */
@media (max-width: 768px) {
    .visualization-grid {
        grid-template-columns: 1fr; /* Single column layout for small screens */
    }
    .charter {
        height: 400px;
    }
}

.visualization-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the h1 to the top and canvas to the bottom */
    height: 100%; /* Ensures the container takes full height of its parent */
}

.charter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 400px;
}

.visualizer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}


svg.loading {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}
   